<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
		xmlns:web="http://java.sun.com/xml/ns/javaee" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		id="WebApp_ID" version="3.0">

    <display-name>epics-react</display-name>
    <welcome-file-list>
    	<welcome-file>index.html</welcome-file>
    </welcome-file-list>    
    
	<servlet>
		<servlet-name>DataFetcher</servlet-name>
		<servlet-class>askap.css.janus.servlets.DataFetcher</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PVFetcher</servlet-name>
		<servlet-class>askap.css.janus.servlets.PVFetcher</servlet-class>
	</servlet>

    <servlet-mapping>
	    	<servlet-name>DataFetcher</servlet-name>
	    	<url-pattern>/DataFetcher</url-pattern>
    </servlet-mapping>	

    <servlet-mapping>
	    	<servlet-name>PVFetcher</servlet-name>
	    	<url-pattern>/PVFetcher</url-pattern>
    </servlet-mapping>	
    
</web-app>